Our product must have the ability to record and analyze a full length class lecture.  It must not require additional hardware for the user to purchase.  It must be able to upload that class lecture to a server databse.  That database must be able to analyze that video stream and audio stream.  That analysis must include an assessment of student participation and attendance.  That analysis should include an assesment of the user's teaching pace.  That analysis may include an analysis of most productive teaching methods.

That analysis should be readable in a graph format.